.server-error-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.server-error-container h1 {
    text-align: center;
    font-weight: 300;
    font-size: 4rem;
}

.server-error-container h2 {
    text-align: center;
    font-weight: 300;
    font-size: 8rem;
}

@media screen and (max-width: 542px) {
    .server-error-container h1 {
        font-size: 3rem;
    }

    .server-error-container h2 {
        font-size: 5rem;
    }
}