@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --background: #ffffff;
    --foreground: #282a36;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--foreground);
    background-color: var(--background);
}