.post-container article h2 {
    margin-top: 2.4rem;
    font-size: 2rem;
}

.post-container article h3 {
    margin-top: 1.8rem;
    font-size: 1.6rem;
}

.post-container article h4 {
    margin-top: 1.4rem;
    font-size: 1.2rem;
}

.post-container article * {
    margin: 0.7rem 0;
}

.post-container article p {
    font-size: 1.12rem;
}

.post-container article img {
    width: 72%;
    display: block;
    margin: 36px auto;
}

.post-container .sh2 {
    font-size: 1.4rem;
    font-weight: 700;
}

.post-container .sh3 {
    font-size: 1.2rem;
    font-weight: 700;
}

.post-container .sh4 {
    font-size: 1rem;
    font-weight: 700;
}

.post-container .sh5 {
    font-size: 0.9rem;
}

.post-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px auto;
    max-width: 992px;
    padding: 0 20px;
}

.post-container .article-container {
    max-width: 600px;
}

.post-container .article-container img {
    max-width: 100%;
}

.post-container aside {
    text-align: right;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.post-container aside h2 {
    margin-bottom: 12px;
    font-size: 1.44rem;
}

.post-container aside .topic a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-container .post-title {
    font-size: 2.5rem;
    margin-bottom: 24px;
}

@media screen and (max-width: 924px) {
    .post-container .article-container {
        max-width: 480px;
    }
}

@media screen and (max-width: 758px) {
    .post-container {
        flex-direction: column;
        gap: 32px;
    }

    .post-container .article-container {
        max-width: 100%;
    }

    .post-container aside {
        width: 100%;
    }

    .post-container article img {
        width: 100%;
    }
}