:root {
    --background-contrasted: #ffffff;
    --text-color: #000000;
    --background: #f6f6f6;
    --hover-text: #505050;
    --button-shadow: rgba(0, 0, 0, 0.48);
    --button-hover-shadow: rgba(0, 0, 0, 0.7);
}

[data-theme="dark"] {
    --background-contrasted: #000000;
    --text-color: #dddddd;
    --background: #161616;
    --hover-text: #ffffff;
    --button-shadow: rgba(204, 204, 204, 0.27);
    --button-hover-shadow: rgba(204, 204, 204, 0.7);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    background-color: var(--background);
}