<!DOCTYPE html>
<html lang="en">

<head>
    {{> "partials/head"}}
    <meta name="description" content="">
</head>

<body>
    {{> "partials/header"}}
    <div class="create-post-container">
        <div class="title">
            <h1>Create Post</h1>
        </div>
        <div class="form-box">
            <form action="/post" method="post">
                {{#if Data.Error}}
                <div class="login-error">
                    <p>{{ Data.Error }}</p>
                </div>
                {{/if}}

                <div class="grids">
                    <div class="left">
                        <div class="input-label">
                            <label for="post-title">Title</label>
                            <input class="text" required id="post-title" name="title" type="text" placeholder="Title">
                        </div>
                    </div>
                    <div class="right">
                        <div class="input-label">
                            <label for="post-thumb">Thumb Image</label>
                            <input class="file" id="post-thumb" name="thumb" type="file">
                        </div>
                    </div>
                </div>
                <div class="input-label">
                    <label for="post-description">Description</label>
                    <input class="text" required id="post-description" name="description" type="text"
                        placeholder="Description">
                </div>

                <button type="submit">Create</button>
            </form>
        </div>
        <div>
            <div id="post-editor"></div>
        </div>
    </div>
</body>

</html>