<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ AppName }} | {{ PageName }}</title>
</head>

<body>
    <div class="main">
        <h1>{{ Data }}</h1>
    </div>
</body>

</html>