<!DOCTYPE html>
<html lang="en">

{{> "partials/head"}}

<body>
    {{> "partials/header"}}
    <div class="login-container">
        <div class="login-box">
            <form method="post" action="/login">
                <h1>Login</h1>

                <input type="text" alt="Email" placeholder="Email">
                <input type="password" alt="Password" placeholder="Password">

                <p>Don't have an account? <a href="/signup">Create one</a></p>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>

</html>