<!DOCTYPE html>
<html lang="en">

<head>
    {{> "partials/head"}}
    <meta name="description" content="Sign in to your account">
</head>

<body>
    {{> "partials/header"}}
    <div class="login-container">
        <div class="login-box">
            <form method="post" action="/login">
                <h1>Login</h1>
                {{#if Data.Error}}
                <div class="login-error">
                    <p>{{ Data.Error }}</p>
                </div>
                {{/if}}

                <div class="input-label">
                    <label for="login-email">Email</label>
                    <input required id="signup-email" name="email" type="text" placeholder="Email">
                </div>
                <div class="input-label">
                    <label for="login-password">Password</label>
                    <input required id="signup-password" name="password" type="password" placeholder="Password">
                </div>

                <p>Don't have an account? <a href="/signup">Create one</a></p>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>

</html>