<!DOCTYPE html>
<html lang="en">

<head>
    {{> "partials/head"}}
</head>

<body>
    {{> "partials/header"}}
    <div class="login-container">
        <div class="login-box">
            <form method="post" action="/signup">
                <h1>Create Account</h1>
                {{#if Data.Error}}
                <div class="login-error">
                    <p>{{ Data.Error }}</p>
                </div>
                {{/if}}

                <div class="input-label">
                    <label for="login-email">Email</label>
                    <input id="login-email" name="email" type="text" placeholder="Email">
                </div>
                <div class="input-label">
                    <label for="login-username">Username</label>
                    <input id="login-username" name="username" type="text" placeholder="Username">
                </div>
                <div class="input-label">
                    <label for="login-password">Password</label>
                    <input id="login-password" name="password" type="password" placeholder="Password">
                </div>

                <p>Already have an account? <a href="/login">Login</a></p>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</body>

</html>