<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

<title>{{ AppName }} | {{ PageName }}</title>

<script>
    let theme = localStorage.getItem("theme");

    if (!theme) {
        if (!window.matchMedia) {
            theme = "light";
        } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            theme = "dark";
        } else {
            theme = "light";
        }
    }

    document.documentElement.setAttribute("data-theme", theme);
</script>